@media (max-width: 600px) {
  header {
    position: relative;
  }
  nav {
    display: none;
    position: absolute;
    top: 70px;
    background-color: #15304c;
    width: 100%;
  }

  nav li {
    display: block;
    text-align: center;
    margin: 10ox 0px;
  }

  .menu-icon {
    display: block;
    color: white;
    font-size: 23px;
  }
}

@media (min-width: 601px) {
  nav {
    display: block !important;
  }
}
